<form method="post" action="/admin/update">
    <input type="submit" value="Update Basketball Data">
</form>
<form method="post" action="/admin/clear">
    <input type="submit" value="Clear Basketball Data">
</form>