<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <nav>
            <a href="/">home</a>
            <a href="/login">login</a>
            <a href="/register">register</a>
            <a href="/logout">logout</a>
        </nav>
        <div>
            {{#if username}}
                Hello, {{{username}}}
                {{else}}
                Not logged in.
            {{/if}}
        </div>
        {{{body}}}
    </body>
</html>
