<form method="get" action="">
    Username: <input type="text" name="username"><br>
    <input type="submit">
</form>
<table>
    {{#each user}}
        <tr><td><a href="/user/{{this.username}}">{{this.username}}</a></td></tr>
    {{/each}}
</table>