<table>
    <tr>
        <td>First Name: </td><td>{{user.firstName}}</td>
    </tr>
    <tr>
        <td>Favorite Team: </td><td>{{teamName}}</td>
    </tr>
    <tr>
        <td>Score: </td><td>{{user.score}}</td>
    </tr>
</table>